@model Product
@inject IHttpContextAccessor context
@{
    ViewData["Title"] = "Edit";
}

@section Header {
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <p class="navbar-brand">Welcome @context.HttpContext.Session.GetString("Name")</p>
            <a class="navbar-brand" href="#!">Amazon</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/User/HomeStore">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Product/Search">Search</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">My Products</a></li>
                </ul>
            </div>
        </div>
    </nav>
    }

<h1>Edit</h1>

<form method="post" asp-action="Save1" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Id" hidden />
    <partial name="_NewEditForm" />

    <button type="submit" class="btn btn-primary">Edit</button>
</form>

<a href="/Product/MyProducts" class="btn btn-outline-success">Go Back to Table</a>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}